<footer class="page-footer font-small bg-secondary pt-4">
    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center"></div>
            <h4 class="text-white">Siga-nos nas redes sociais</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">

            <ul class="social-network">
                <li>
                    <a href="https://github.com/Emanuelle30" target="_blank" class="icoGitHub">
                        <i class="fa fa-github-alt h" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/30emanuellecavalcante/" target="_blank" class="icoLinkedIn">
                        <i class="fa fa-linkedin-square h" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
<div class="footer-copyright bg-dark text-center py-3">
    <span class="text-light"> © 2022 Copyright: Emanuelle Cavalcante</span>

</div>
</footer>